/* MainProdDet.css */

/* Styles for dropdowns */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .dropdown-button {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-button:hover {
    background-color: #ddd;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 200px;
  }
  
  .dropdown-content p {
    color: #333;
    padding: 10px;
    margin: 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  